 
	    <header> 
		<h1> Husna </h1>
	    </header>	    
       	    <section class="container">     
                <form action="/translate" method="get">
			<div class="punjabi-area area"> 
				<textarea class="psearch" id="first">Write in Punjabi Here</textarea> 
			</div>
			<div class="urdu-area area">
	                	<textarea class="usearch" name="urduAaala" id="second">Expect Urdu Here</textarea>
			</div>
			<div class="btn-area">
				<input type="submit" class="submit" name="translateKar" value="Translate"/>
			</div>
		</form>
	    </section>
