@import url(https://fonts.googleapis.com/css?family=Great+Vibes);
body, html{
      background-image: url("background.png");
      height:100%;
}

*{
     margin:0;
     padding:0;
}

.container { 
	height:65%;  
	margin-top:70px;
}

header { 
	height: 50px;
	background: rgba(241, 196, 15,1.0);
        text-align:center;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	position:fixed;
	top:0;
	width:100%;
}

header h1 {
	font-family: 'Great Vibes', sans-serif;
	font-weight:400;
 	font-size:36px;
	text-shadow:2px 2px 3px rgba(255,255,255,0.5);	
        margin-top:15px;
}
 form { height:100%;}

.usearch, .psearch {
     width:100%;
     padding:10px;
     height:80%;
     background:#fafafa;
     border-radius:2px;
     border: 1px solid #ccc;
     font-size:35-px;
}
#psearch {
    
     height:80%;
     
}

.area {
     width:45%;
     height:100%;
     display:inline-block;
     margin: 0 2% 0 2%;    
}
.btn-area {
     margin-left:60%;
     margin-bottom:90px;
     width:10%;
     bottom:30px;
}
.submit {
   background: #428BCA;
   color: #fff;
   margin-left:-180px;
   margin-bottom:90px;
   margin-top:-270px;
   position:fixed;
   display:block;
   width:100px;
   height:100px;
   border-radius:50%;
   border:1px solid #ccc;
   transition:0.5s all ease;
   cursor:pointer;
}

.submit:hover {
 background: #3071A9
 

}
a{
   float:right;
   font-size:30px;
   height:30px;
   width:150px;
   margin:auto;
   margin-top:-10px;
}
.signupandlogin{
   display:inline-block;
   float:right;
   position:absolute;

}
#keyboard{
    margin-top:-20px;
    margin-left:25%;
    display:inline-block;
    border:3px solid grey;
}
button{
     height:32px;
     width:35px;
     background-color:pink;

}
.double{
     width:93.5px;
}
   
